In [4]:
#เรียนรู้ การดึงข้อมูลจาก Google Sheet
from IPython.display import IFrame, YouTubeVideo, SVG, HTML
YouTubeVideo('sDUJxIZn0W4', 400,300)

In [2]:
import pandas as pd
print(f'pandas version: {pd.__version__}')

pandas version: 0.24.2

In [2]:
from datetime import datetime
str(datetime.now())

'2018-03-07 09:56:48.605620'

## The greatest films of all time: download the data
https://www.theguardian.com/news/datablog/2010/oct/16/greatest-films-of-all-time

https://docs.google.com/spreadsheets/d/1okTb4MTllkDWlj0daHNfA8RwOPhLQkWtpQN_znJJJmk/edit?hl=en&hl=en#gid=0

In [3]:
# https://docs.google.com/spreadsheets/d/1okTb4MTllkDWlj0daHNfA8RwOPhLQkWtpQN_znJJJmk/edit?hl=en&hl=en#gid=2
url='https://docs.google.com/spreadsheets/d/1okTb4MTllkDWlj0daHNfA8RwOPhLQkWtpQN_znJJJmk/export?gid=2&format=csv'
df=pd.read_csv(url, index_col='Film')
df.head()

,Entry,Cat,Director,Leading actors,Year of cinema release,Oscars won,IMDB link,Guardian film page,Country
Film,,,,,,,,,
Annie Hall,1,Comedy,Woody Allen,"Carol Kane, Diane Keaton, Paul Simon, Tony Rob...",1977,4.0,http://www.imdb.com/title/tt0075686/,http://www.guardian.co.uk/film/movie/36314/ann...,USA
Borat,2,Comedy,Larry Charles,"Ken Davitian, Pamela Anderson , Sacha Baron Cohen",2006,NaN,http://www.imdb.com/title/tt0443453/,http://www.guardian.co.uk/film/movie/114557/borat,USA
Some Like it Hot,3,Comedy,Billy Wilder,"George Raft, Jack Lemmon, Joe E Brown, Marilyn...",1959,1.0,http://www.imdb.com/title/tt0053291/,http://www.guardian.co.uk/film/movie/36223/som...,USA
Team America,4,Comedy,Trey Parker,"Kristen Miller, Matt Stone, Trey Parker",2004,NaN,http://www.imdb.com/title/tt0372588/,http://www.guardian.co.uk/film/movie/103000/te...,USA
Dr Strangelove,5,Comedy,Stanley Kubrick,"George C Scott, Peter Sellers, Sterling Hayden",1964,NaN,http://www.imdb.com/title/tt0057012/,http://www.guardian.co.uk/film/movie/76390/dr-...,UK

In [4]:
# https://docs.google.com/spreadsheets/d/1okTb4MTllkDWlj0daHNfA8RwOPhLQkWtpQN_znJJJmk/edit?hl=en&hl=en#gid=2
url='https://docs.google.com/spreadsheets/d/1okTb4MTllkDWlj0daHNfA8RwOPhLQkWtpQN_znJJJmk/export?gid=5&format=csv'
df=pd.read_csv(url, index_col='Film')
df.head()

,Entry,Director,Leading actors,Year of cinema release,No of Oscars won,IMDB link,Guardian film page,Country
Film,,,,,,,,
2001,1,Stanley Kubrick,"Daniel Richter, Gary Lockwood, Keir Dullea, Wi...",1968,1,http://www.imdb.com/title/tt0062622/,http://www.guardian.co.uk/film/movie/36269/2001,USA
Metropolis,2,Fritz Lang,"Alfred Abel, Brigitte Helm, Gustav Frohlich, G...",1927,NaN,http://www.imdb.com/title/tt0017136/,http://www.guardian.co.uk/film/movie/75782/met...,Germany
Blade Runner,3,Ridley Scott,"Harrison Ford, Rutger Hauer, Sean Young",1982,NaN,http://www.imdb.com/title/tt0083658/,http://www.guardian.co.uk/film/movie/76627/bla...,USA
Alien,4,Ridley Scott,"Ian Holm, John Hurt, Sigourney Weaver, Tom Ske...",1979,1,http://www.imdb.com/title/tt0078748/,http://www.guardian.co.uk/film/movie/75860/alien,USA
The Wizard of Oz,5,Victor Fleming,"Bert Lahr, Frank Morgan, Jack Haley, Judy Garl...",1939,2,http://www.imdb.com/title/tt0032138/,http://www.guardian.co.uk/film/movie/36148/wiz...,USA

In [5]:
# https://docs.google.com/spreadsheets/d/1N5_Oaw3gwXI4TuLEPZB6ShgzZolkDVS-YwdEnorkxWA/edit#gid=0
url='https://docs.google.com/spreadsheets/d/1N5_Oaw3gwXI4TuLEPZB6ShgzZolkDVS-YwdEnorkxWA/export?gid=1583523635&format=csv'
df=pd.read_csv(url)
df.head()

   Year  Customers
0  2550       1084
1  2551       1006
2  2552       1393
3  2553       1567
4  2554       1421

In [3]:
#https://docs.google.com/spreadsheets/d/1Jf_1qjjwa_gUaNIihdo4-F4yYCruum1m25C0RcnzH8E/edit#gid=1141604343
url="https://docs.google.com/spreadsheets/d/1Jf_1qjjwa_gUaNIihdo4-F4yYCruum1m25C0RcnzH8E/export?gid=1141604343&format=csv"
df=pd.read_csv(url)
df.head()

,ประทับเวลา,คะแนน,ชื่อ-นามสกุล,หลักสูตร (สาขาวิชา),เบอร์ติดต่อ,อีเมล,ชั้นปี,1. Through this telescope you could see what look like on……. Mars.,"2. Excuse me, I want to buy…………pepper grinders.",3. I have a doctor’s appointment…….May 10.,...,91. You can contact Instant Service………………………………,92. There is a variety of drinks and snacks ……………………. .,93. There is ……………. Internet access in the hotel room.,94. What do you have to do if you want a coffee?,"95. To enter the fitness Center, you need …………………. .",96. The in-room safe is ……………… .,97. You might find that your room hasn’t been cleaned yet if you come back at ……………… .,"98. If you need to clean your shoes, …………………….. .",99. The hotel offers a selection of films that you can ……………………. .,100. You should contact Instant Service if you need ………………….. .
0,"18/6/2019, 16:23:41",27 / 100,กมลศักดิ์ ภาโสม,ระบบสารสนเทศ,0864147752,katearrerawan@gmail.com,ปี 3 (เทียบโอน-สมทบ),2. a,2. an,2. on,...,2. twenty-four hours a day,2. that are removed from your room every day,2. free,2. Put money in a machine in your room.,2. to ask for a specific key,2. a box with a pin code to keep valuable things,2. 2:00 PM on Friday,2. call Instant Service for instructions on ho...,2. watch for a daily amount of money,2. fresh towels
1,"18/6/2019, 16:50:30",18 / 100,oooppp,ระบบสารสนเทศ,0888888888888,katearrerawan@gmail.com,ปี 3 (เทียบโอน-ภาคปกิต),3. an,3. a,3. at,...,3. in the hotel lobby next to the clock,3. that you can have and pay with your room bill,3. basic,3. Follow the directions to the nearest coffee...,3. to be a guest on the third floor,3. a deposit box that you can get at the Recep...,3. 3:00 AM on Sunday,3. call Instant Service and they’ll clean them...,3. pay and watch,3. to wake up early
2,"20/6/2019, 13:04:27",34 / 100,ฐานทัพ มิ่งทอง,ระบบสารสนเทศ,0924783923,bizabbt@gmail.com,ปี 3 (เทียบโอน-ภาคปกิต),4. the,4. this,3. at,...,3. in the hotel lobby next to the clock,1. in the hotel’s private bar,2. free,4. Have it for free in the lobby early in the ...,1. your room key card,2. a box with a pin code to keep valuable things,1. 2:00 AM on Friday,4. call Instant Service and they’ll collect th...,4. watch in the hotel’s entertainment area,2. fresh towels
3,"20/6/2019, 13:11:43",29 / 100,วรรณิดา,การจัดการ,0954792639,Wannidaritsri@gmail.com,ปี 3 (เทียบโอน-สมทบ),4. the,3. a,3. at,...,2. twenty-four hours a day,3. that you can have and pay with your room bill,3. basic,3. Follow the directions to the nearest coffee...,4. to go between 6:00 AM and 8:00 PM,4. a personalized four-digit pin code to enter...,3. 3:00 AM on Sunday,4. call Instant Service and they’ll collect th...,4. watch in the hotel’s entertainment area,1. to check out
4,"20/6/2019, 13:22:34",22 / 100,สรรธพร ชูดำดี,การจัดการ,0918462214,Dynadin@outlook.com,ปี 3 (เทียบโอน-ภาคปกิต),3. an,3. a,1. in,...,2. twenty-four hours a day,1. in the hotel’s private bar,2. free,4. Have it for free in the lobby early in the ...,2. to ask for a specific key,3. a deposit box that you can get at the Recep...,3. 3:00 AM on Sunday,3. call Instant Service and they’ll clean them...,3. pay and watch,3. to wake up early